<powershell>
Invoke-Expression ((New-Object -TypeName System.Net.WebClient).DownloadString("https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1"))
Enable-WSManCredSSP -Role Server -Force
</powershell>
